.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
}

.add-item-btn {
  margin-left: auto;
  background-color: transparent;
  /* border: none; */
}
